{% extends "bootstrap/base.html" %}
{% block title %}Market Basket Analysis{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
{% endblock %}


{% block content %}
<div class="container">
	<h3> {{ user }} <br><br> Cart Score: {{ "%.5f" | format(score | float) }} </h3><br><br>
     <table class="table table-striped">
     <tr><th>Category</th><th>Purchases</th></tr>
     {% for item in cart|dictsort(true, 'value', reverse = True) %}
     {% if item[1]|float > 0 %}
     {% if profile[item[0]]|float != item[1]|float %}
     <tr><td><p class="text-danger">{{item[0]|string}}</p></td><td><p class="text-danger">{{item[1]}}</p></td></tr>
     {% else %}
     <tr><td><p class="text-success">{{item[0]|string}}</p></td><td><p class="text-success">{{item[1]}}</p></td></tr>
     {% endif %}
     {% endif %}
     {% endfor %}

    </table>

</div>

{% endblock %}
 
